/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
