<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login_username">Username</label>
    <input id="login_username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" />
    <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
      <div *ngIf="formControls.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="login_password">Password</label>
    <input id="login_password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
    <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
  </div>
</form>
