<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLogged">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/tasks">Tasks list</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
