<div class="container">
  <div class="row">
    <div class="card col-md-10 bg-light border-primary">
      <div class="card-body">
        <button class="btn btn-link pull-right" (click)="createTask()" title="Create task"><span
          class="fa fa-plus-square fa-2x"></span></button>
        <h5 class="card-title text-center">
          Tasks
        </h5>
        <hr>
        <div class="list-group" style="min-height: 40px" cdkDropList
             [cdkDropListData]="tasks"
             (cdkDropListDropped)="onModifyTaskInOrder($event, tasks)">
          <div cdkDrag *ngFor="let item of tasks; index as idx "
               class="col-md-12 list-group-item" style="position: relative;margin-bottom: 5px"
                [class.bg-secondary.text-white] = "item.status === TaskStatusType.DONE"
               [class.bg-warning]="item.status !== TaskStatusType.DONE && taskIsExpiredToday(item)"
               [class.bg-danger]="item.status !== TaskStatusType.DONE && taskIsExpiredAlready(item)">
            <div class="float-left" style="position: relative; margin-left: -55px" *ngIf="item.status===TaskStatusType.DONE">
              <span class="fa fa-2x text-success" [class.fa-check-circle]="item.status===TaskStatusType.DONE" title="Task is done"></span>
            </div>
            <span cdkDragHandle class="fa fa-arrows" style="cursor: move" title="Move"></span>
            {{item.name}} ({{item.orderPosition + 1}})
            <button class="btn pull-right btn-sm" title="Remove task" (click)="removeTask(item, tasks, idx)"><span class="fa fa-remove"></span></button>
            &nbsp;<button class="btn pull-right btn-sm" title="Edit task"
                          (click)="editTask(item)"><span class="fa fa-edit"></span></button>
            &nbsp;<button class="btn pull-right btn-sm" title="Mark as done task"
                          *ngIf="item.status === TaskStatusType.TODO"
                          (click)="markDoneTask(item)"><span class="fa text-success fa-check-circle"></span></button>
            &nbsp;<button class="btn pull-right btn-sm" title="Add subtask"
                          *ngIf="item.status===TaskStatusType.TODO"
                          (click)="createSubTask(item)"><span
            class="fa fa-plus-square"></span></button>
            <ng-template [ngIf]="item.tasks?.length">
              <button class="btn pull-right btn-sm" title="Show subtasks"
                      (click)="subtasks.toggle()"><span class="fa fa-angle-double-down"></span></button>
              <div #subtasks="bs-collapse" collapse #subtasks="bs-collapse">
                <div class="list-group container" style="min-height: 40px" cdkDropList
                     #todoList="cdkDropList"
                     [cdkDropListData]="item.tasks"
                     (cdkDropListDropped)="onModifyTaskInOrder($event, item.tasks)"
                     cdkDropListLockAxis="vertical">
                  <div cdkDrag *ngFor="let item of item.tasks; index as idx"
                       class="col-md-12 list-group-item" style="position: relative; left: 25px;margin-bottom: 5px;"
                       [class.bg-secondary.text-white] = "item.status === TaskStatusType.DONE"
                       [class.bg-warning]="item.status !== TaskStatusType.DONE && taskIsExpiredToday(item)"
                       [class.bg-danger]="item.status !== TaskStatusType.DONE && taskIsExpiredAlready(item)">
                    <div class="float-left" style="position: relative; margin-left: -55px" *ngIf="item.status===TaskStatusType.DONE">
                      <span class="fa fa-2x text-success" [class.fa-check-circle]="item.status===TaskStatusType.DONE"
                            title="Task is done"></span></div>

                    <span cdkDragHandle class="fa fa-arrows" style="cursor: move" title="Move"></span>
                    {{item.name}} ({{item.orderPosition + 1}})
                    <button class="btn pull-right btn-sm" title="Remove task" (click)="removeTask(item, tasks, idx)"><span class="fa fa-remove"></span>
                    </button>
                    &nbsp;<button class="btn pull-right btn-sm" title="Edit task" (click)="editTask(item)"><span
                    class="fa fa-edit"></span></button>
                    &nbsp;<button class="btn pull-right btn-sm" title="Mark as done task"
                                  *ngIf="item.status === TaskStatusType.TODO"
                                  (click)="markDoneTask(item)"><span class="fa text-success fa-check-circle"></span></button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal [config]="{show: true, backdrop: 'static'}"
     *ngIf="!!taskSelected" tabindex="-1" role="dialog" #taskSelectedModal="bs-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task edit</h5>
        <button type="button" class="close" (click)="taskSelected = undefined" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="taskname-addon">Name <span class="text-danger">*</span></span>
          </div>
          <input type="text" class="form-control" name="name" [(ngModel)]="taskSelected.name" required
                 [readOnly]="taskSelected.status !== TaskStatusType.TODO"
                 placeholder="Task name" aria-label="Task name" aria-describedby="taskname-addon">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="taskdescription-addon">Description</span>
          </div>
          <textarea class="form-control" rows="5" [(ngModel)]="taskSelected.description"
                    [readOnly]="taskSelected.status !== TaskStatusType.TODO"
                    placeholder="Task description"
                    aria-label="Task description" aria-describedby="taskdescri`ption-addon"></textarea>
        </div>
        <br>
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="taskexpiredat-addon">ExpiredAt</span>
          </div>
          <input type="text" class="form-control" bsDatepicker [(ngModel)]="taskSelected.expiredAt"
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 [readOnly]="taskSelected.status !== TaskStatusType.TODO"
                 (bsValueChange)="setTaskExpiredValue($event)"
                 #datepickerTaskExpiredAt="bsDatepicker"
                 placeholder="Task expiredAt" aria-label="Task expiredAt" aria-describedby="taskexpiredat-addon">
          <div class="input-group-append" *ngIf="taskSelected.status === TaskStatusType.TODO">
            <button class="btn btn-outline-secondary"
                    (click)="datepickerTaskExpiredAt.bsValue = undefined; taskSelected.expiredAt = undefined;"
                    id="taskexpiredat-addon2"><span class="fa fa-close"></span></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="taskSelected = undefined">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="taskSelected.status===TaskStatusType.TODO" (click)="saveTask()">Save task</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal [config]="{show: true, backdrop: 'static'}"
     *ngIf="confirmHelper" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
      </div>
      <div class="modal-body">
        <p>Do you want to confirm?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmHelper.confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="confirmHelper.decline()" >No</button>
      </div>
    </div>
  </div>
</div>

